#scale {
	margin-left: 650px;
	height: 628px;
}

.scale {
	width: 50px;
	height: 314px;
}

#color-scales {
	width:50px;
	float:left;
}

#upper-scale {
	background-image: linear-gradient(red, white);
}

#lower-scale {
	background-image: linear-gradient(white, blue);
}

svg {
	float: left;
}

#scale-labels {
	margin-left: 10px;
	width: 100px;
	height: 628px;
	float:left;
}

.scale-label {
	margin-bottom: 270px;
}

#scale-heading {
	padding-top: 275px;
	float: left;
	height: 628px;
	width: 250px;
	text-align: center;
}

.slidecontainer {
	margin-top: 20px;
	width: 628px; 
  }
  
 
  .slider {
	-webkit-appearance: none;  
	appearance: none;
	width: 628px; 
	height: 25px; 
	background: #d3d3d3;
	outline: none; 
	opacity: 0.7; 
	-webkit-transition: .2s; 
	transition: opacity .2s;
  }
  
 
  .slider:hover {
	opacity: 1; 
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none; 
	appearance: none;
	width: 25px; 
	height: 25px; 
	background: black; 
	cursor: pointer; 
  }
